
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>Wybierz co chcesz zrobić:</h2>
<hr/>
<label>Wyświetlić boiska?</label>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Playground" asp-action="GetAll">Wyświetl wszystkie</a></button>
<label>Stworzyć nowe?</label>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Playground" asp-action="Create">Stwórz nowe</a></button>